combos {
    compatible = "zmk,combos";
    
    combo_space {
        timeout-ms = <50>;
        key-positions = <28 29 30 31>;
        bindings = <&kp SPACE>;
    };
    
    combo_enter {
        timeout-ms = <50>;
        key-positions = <7 8 9 10>;
        bindings = <&kp ENTER>;
    };
    
    combo_tab {
        timeout-ms = <50>;
        key-positions = <7 8 9>;
        bindings = <&kp TAB>;
    };
    
    combo_backspace {
        timeout-ms = <50>;
        key-positions = <28 29 30>;
        bindings = <&kp BACKSPACE>;
    };
    
    combo_delete {
        timeout-ms = <50>;
        key-positions = <22 23 24>;
        bindings = <&kp DELETE>;
    };
};