/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define NUM 1
#define ITP 2
#define NAV 3
#define FN  4

/* todo
    copy, paste, cut
    media controls
    bluetooth
    editor shortcuts
*/


/ {
    #include "nav_macros.dtsi"
    #include "shortcut_macros.dtsi"

    behaviors {
        td_esc_ctrl: tap_dance_esc_ctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LCTRL>, <&kp ESC>;
        };
        
        // td_bld_htrld: tap_dance_build_hotreload {
        //     compatible = "zmk,behavior-tap-dance";
        //     #binding-cells = <0>;
        //     tapping-term-ms = <200>;
        //     bindings = <&build>, <&hot_reload>;
        // };
        
        // td_dbg_run: tap_dance_debug_run {
        //     compatible = "zmk,behavior-tap-dance";
        //     #binding-cells = <0>;
        //     tapping-term-ms = <200>;
        //     bindings = <&debug>, <&run>;
        // };
        
        // td_brkpt_rmvallbkpt: tap_dance_breakpoint_remove_all_breakpoints {
        //     compatible = "zmk,behavior-tap-dance";
        //     #binding-cells = <0>;
        //     tapping-term-ms = <200>;
        //     bindings = <&add_rmv_brkpt>, <&rmv_all_brkpt>;
        // };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        func_layer {
            if-layers = <NAV ITP>;
            then-layer = <FN>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp TAB      &kp Q &kp W &kp E      &kp R   &kp T       &kp Y     &kp U   &kp I     &kp O   &kp P    &kp BSPC
                &td_esc_ctrl &kp A &kp S &kp D      &kp F   &kp G       &kp H     &kp J   &kp K     &kp L   &kp SEMI &kp SQT
                &kp LGUI     &kp Z &kp X &kp C      &kp V   &kp B       &kp N     &kp M   &kp COMMA &kp DOT &kp FSLH &kp RET
                                         &kp LSHIFT &mo NAV &mo NUM     &kp SPACE &mo ITP &kp RALT
            >;
        };

        num_layer {
            bindings = <
                &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5    &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
                &trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5    &kp N6 &kp N7 &kp N8 &kp N9 &kp N0  &kp F12
                &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans  &trans
                                     &trans &trans &trans    &trans &trans &trans
            >;
        };

        interp_layer {
            bindings = <
                &trans &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &kp DEL
                &trans &kp EQUAL &kp PLUS &kp MINUS &kp UNDER &kp TILDE    &kp FSLH  &kp PIPE &kp BSLH  &kp LBKT &kp RBKT &kp GRAVE
                &trans &trans    &trans   &trans    &trans    &trans       &trans    &trans   &trans    &kp LBRC &kp RBRC &trans
                                          &trans    &trans    &trans       &trans    &trans   &trans
            >;
        };

        nav_layer {
            bindings = <
                &trans &l_sel_l &w_sel_l &w_sel_r &l_sel_r &trans      &cut   &copy    &paste   &undo  &redo     &kp DEL
                &trans &l_mov_l &w_mov_l &w_mov_r &l_mov_r &trans      &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &save
                &trans &l_del_l &w_del_l &w_del_r &l_del_r &trans      &trans &trans   &trans   &trans &trans    &trans
                                         &trans   &trans   &trans      &trans &trans   &trans
            >;
        };

        fn_layer {
            bindings = <
                &td_bld_htrld        &kp C_AC_CLOSE &kp C_AC_OPEN &kp K_MENU   &kp K_CONTEXT_MENU &trans          &trans &kp C_BRI_INC &kp C_BRI_DEC &kp C_BRI_MIN &kp C_BRI_MAX &trans
                &td_dbg_run          &trans         &trans        &kp PSCRN    &trans             &trans          &trans &kp K_VOL_UP  &kp K_VOL_DN  &kp K_MUTE    &trans        &trans
                &td_brkpt_rmvallbkpt &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3       &bt BT_SEL 4    &trans &kp K_PREV    &kp K_PP      &kp K_NEXT    &trans        &trans
                                                                  &trans       &trans             &bt BT_CLR      &trans &trans        &bt BT_CLR_ALL
            >;
        };
    };
};
