/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* TO-DO:
 * - DONE Bluetooth layer                   <- bluetooth_layer
 * - DONE Advanced navigation layer         <-
 * - DONE Advanced navigation + selection    | nav_layer
 * - DONE Advanced navigation + deletion    <-
 * - Per-editor shortcuts (build, run, debug etc)
 */

/ {
        macros {
            #include "nav_macros.dtsi"
        };

        behaviors {
            lt { // override default minimal hold duration
                tapping-term-ms = <150>;
            };
        };

        keymap {
                compatible = "zmk,keymap";
                default_layer {
// -----------------------------------------------------------------------------------------
                        bindings = <
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     TAB   |     Q       |     W       |     E       |     R          |     T       |     |     Y     |     U     |     I        |     O     |     P     |     BKSP   | */
     &kp TAB     &kp Q         &kp W         &kp E         &kp R            &kp T               &kp Y       &kp U       &kp I          &kp O       &kp P       &kp BSPC   
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     CTRL  |     A       |     S       |     D       |     F          |     G       |     |     H     | NAVL or J |     K        |     L     |     ;     |     '      | */
     &kp LCTRL   &kp A         &kp S         &kp D         &kp F            &kp G               &kp H       &lt 3 J     &kp K          &kp L       &kp SEMI    &kp SQT
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     ESC   |     Z       |     X       |     C       |     V          | BTL or B    |     |     N     |     M     |     ,        |     .     |     /     |     RET    | */
     &kp ESC     &kp Z         &kp X         &kp C         &kp V            &lt 4 B             &kp N       &kp M       &kp COMMA      &kp DOT     &kp FSLH    &kp RET
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*                                         |     SHF     |     LWR        |     GUI     |     |     SPC   |     RSE   |     ALT      |                                      */
                                             &kp LSHFT     &mo 1            &kp LGUI            &kp SPACE   &mo 2       &kp RALT
/*                                         ------------------------------------------------------------------------------------------                                       */
                        >;
                };
                lower_layer {
                        bindings = <
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     TAB   |             |     7       |     8       |     9          |             |     |     F1    |     F2    |     F3       |     F4    |     F5    |     BKSP   | */
     &kp TAB     &trans        &kp N7        &kp N8        &kp N9           &trans              &kp F1      &kp F2      &kp F3         &kp F4      &kp F5      &kp BSPC   
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     CTRL  |     0       |     4       |     5       |     6          |             |     |     F11   |     LFT   |     DWN      |     UP    |     RGT   |     '      | */
     &kp LCTRL   &kp N0        &kp N4        &kp N5        &kp N6           &trans              &kp F11     &kp LEFT    &kp DOWN       &kp UP      &kp RIGHT   &kp F12
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     ESC   |             |     1       |     2       |     3          |             |     |     F6    |     F7    |     F8       |     F9    |     F10   |     RET    | */
     &kp ESC     &trans        &kp N1        &kp N2        &kp N3           &trans              &kp F6      &kp F7      &kp F8         &kp F9      &kp F10     &kp RET
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*                                         |     SHF     |     LWR        |     GUI     |     |     SPC   |     RSE   |     ALT      |                                      */
                                             &kp LSHFT     &trans           &kp LGUI            &kp SPACE   &trans      &kp RALT
/*                                         ------------------------------------------------------------------------------------------                                       */
                        >;
                };

                raise_layer {
                        bindings = <
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     TAB   |     !       |     @       |     #       |    $           |     %       |     |     ^     |     &     |     *        |     (     |     )     |     BKSP   | */
     &kp TAB     &kp EXCL      &kp AT        &kp HASH      &kp DLLR         &kp PRCNT           &kp CARET   &kp AMPS    &kp ASTERISK   &kp LPAR    &kp RPAR    &kp BSPC
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     CTRL  |     =       |     +       |     -       |     _          |     ~       |     |     /     |     |     |     \        |     [     |    ]      |     `      | */
     &kp LCTRL   &kp EQUAL     &kp PLUS      &kp MINUS     &kp UNDERSCORE   &kp TILDE           &kp FSLH    &kp PIPE    &kp BLSH       &kp LBKT    &kp RBKT    &kp GRAVE
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |   ESC     |             |             |             |                |             |     |           |           |              |     {     |     }     |     RET    | */
     &kp ESC     &trans        &trans        &trans        &trans           &trans              &trans      &trans      &trans         &kp LBRC    &kp RBRC    &kp RET
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*                                        |     SHF      |                |     GUI     |     |     SPC   |           |     ALT      |                                       */
                                            &kp LSHFT      &trans           &kp LGUI            &kp SPACE   &trans      &kp RALT
/*                                         -----------------------------------------------------------------------------------------                                        */
                        >;
                };

                 nav_layer {
                        bindings = <
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     TAB   |     BT1     |     BT2     |     BT3     |    BT4         |     BT5     |     |     ^     |     &     |     *        |     (     |     )     |     BTCL   | */
     &kp TAB     &l_sel_l      &w_sel_l      &w_sel_r      &l_sel_r         &trans              &trans      &trans      &trans         &trans      &trans      &trans   
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     CTRL  |     =       |     +       |     -       |     _          |     ~       |     |     /     |     |     |     \        |     [     |    ]      |     `      | */
     &kp LCTRL   &l_mov_l      &w_mov_l      &w_mov_r      &l_mov_r         &trans              &trans      &trans      &trans         &trans      &trans      &trans
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |   ESC     |             |             |             |                |             |     |           |           |              |     {     |     }     |     RET    | */
     &kp ESC     &l_del_l      &w_del_l      &w_del_r      &l_del_r         &trans              &trans      &trans      &trans         &trans      &trans      &trans
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*                                         |     SHF     |                |     GUI     |     |     SPC   |           |     ALT      |                                       */
                                             &kp LSHFT     &trans           &kp LGUI            &kp SPACE   &trans      &kp RALT
/*                                         -----------------------------------------------------------------------------------------                                        */
                        >;
                 };

                 bluetooth_layer {
                        bindings = <
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     TAB   |     BT1     |     BT2     |     BT3     |    BT4         |     BT5     |     |     ^     |     &     |     *        |     (     |     )     |     BTCL   | */
     &kp TAB     &bt BT_SEL0   &bt BT_SEL1   &bt BT_SEL2   &bt BT_SEL3      &bt BT_SEL4         &trans      &trans      &trans         &trans      &trans      &trans   
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |     CTRL  |     =       |     +       |     -       |     _          |     ~       |     |     /     |           |     \        |     [     |    ]      |     `      | */
     &kp LCTRL   &trans       &trans         &trans        &trans           &trans              &trans      &trans      &trans         &trans      &trans      &trans
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* |   ESC     |             |             |             |                |             |     |           |           |              |     {     |     }     |     RET    | */
     &kp ESC     &trans        &trans        &trans        &trans           &trans              &trans      &trans      &trans         &trans      &trans      &trans
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*                                         |     SHF     |                |     GUI     |     |     SPC   |           |     ALT     |                                       */
                                             &kp LSHFT     &trans           &kp LGUI            &kp SPACE   &trans      &kp RALT
/*                                         -----------------------------------------------------------------------------------------                                        */
                        >;
                 };
        };
};
