    copy: copy {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        
        bindings
            = <&macro_press   &kp LCTRL>
            , <&macro_tap     &kp C>
            , <&macro_release &kp LCTRL>
        ;
    };

    paste: paste {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        
        bindings
            = <&macro_press   &kp LCTRL>
            , <&macro_tap     &kp V>
            , <&macro_release &kp LCTRL>
        ;
    };

    cut: cut {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        
        bindings
            = <&macro_press   &kp LCTRL>
            , <&macro_tap     &kp X>
            , <&macro_release &kp LCTRL>
        ;
    };

    undo: undo {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        
        bindings
            = <&macro_press   &kp LCTRL>
            , <&macro_tap     &kp Z>
            , <&macro_release &kp LCTRL>
        ;
    };

    redo: redo {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        
        bindings
            = <&macro_press   &kp LCTRL>
            , <&macro_tap     &kp R>
            , <&macro_release &kp LCTRL>
        ;
    };

    save: save {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        
        bindings
            = <&macro_press   &kp LCTRL>
            , <&macro_tap     &kp S>
            , <&macro_release &kp LCTRL>
        ;
    };
    
    bt_clr_all: bt_clr_all {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        
        bindings
            = <&macro_tap &bt BT_CLR 0>
            , <&macro_tap &bt BT_CLR 1>
            , <&macro_tap &bt BT_CLR 2>
            , <&macro_tap &bt BT_CLR 3>
            , <&macro_tap &bt BT_CLR 4>
        ;
    };